$blue: #4183c4;
$tw-color: #4B73EB;
$gh-color: #6dae6e;
$gm-color: #fd2f31;
$re-color: #d4a057;

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
#wrapper {
  margin-top: 10px;
  .descrip {
    font-style: italic;
  }
  h1 {
    margin: 0;
    padding: 0;
  }
  p {
    margin: 0;
    padding: 0;
  }
  h2 {
    margin: 0;
    padding: 0;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    margin: 5px;
    a {
      color: $blue;
      text-decoration: none;
    }
    a:hover {
      color: darken($blue, 15%);
    }
    a.title {
      font-weight: bold;
    }
  }
  .links {
    margin-top: 20px;
    a, .rest {
      font-size: 20pt;
      color: #b9b9b9;
      padding: 20px 0 20px 0;
      /* font transitions included */
      transition: all .25s linear;
    }
    a:hover {
      text-decoration: none;
    }
    .rest {
      opacity: 0;
    }
    .tw:hover,
    .tw:hover ~ .rest {
      opacity: 1;
      color: $tw-color;
    }
    /* this is hack #2, hack #1 is below
     * this hack was used to fix the fact that hovering over 
     * the 'h' in 'gh' would never have colored in the 'g'
     * to fix it, I increased 'g''s hit box and passed all the pointer events
     * from 'h' and 'it' to 'g'
     */
    .g {
      padding-right: 20px;
      z-index: 1;
    }
    .h {
      margin-left: -20px;
      pointer-events: none;
      z-index: -1;
    }
    .g:hover ~ .it {
      margin-left: -20px;
    }
    .g:hover ~ .h {
      margin-left: 0px;
    }
    /* so I needed the g"it"hub to not take up any space
     * the obvious method was to try display: none
     * however, that FUCKS up animations
     * apparently changing the font-size does not :)
     */
    .it {
      font-size: 0pt;
      pointer-events: none;
    }
    .gh:hover {
      color: $gh-color;
    }
    .g:hover ~ .it {
      font-size: 20pt;
    }
    .g:hover ~ .h,
    .g:hover ~ .rest {
      opacity: 1;
      color: $gh-color;
    }
    .gm:hover,
    .gm:hover ~ .rest {
      opacity: 1;
      color: $gm-color;
    }
    .re:hover,
    .re:hover ~ .rest {
      opacity: 1;
      color: $re-color;
    }
  }
}
