$blue: #4183c4;

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
#wrapper {
  margin-top: 10px;
  .descrip {
    font-style: italic;
  }
  h1 {
    margin: 0;
    padding: 0;
  }
  p {
    margin: 0;
    padding: 0;
  }
  h2 {
    margin: 0;
    padding: 0;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    margin: 5px;
    a {
      color: $blue;
      text-decoration: none;
    }
    a:hover {
      color: darken($blue, 15%);
    }
    a.title {
      font-weight: bold;
    }
  }
  .links {
    margin-top: 20px;
    a {
      font-size: 20pt;
      color: #b9b9b9;
      padding: 20px 20px 20px 0;
      transition: color .25s linear;
    }
    a:hover {
      text-decoration: none;
    }
    .tw:hover {
      color: #6dae6e;
    }
    .gh:hover {
      color: #d4a057;
    }
    .gm:hover {
      color: #fd2f31;
    }
    .ré:hover {
      color: #d4a057;
    }
  }
}
