@charset "UTF-8";
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif; }

#wrapper {
  margin-top: 10px; }
  #wrapper .descrip {
    font-style: italic; }
  #wrapper h1 {
    margin: 0;
    padding: 0; }
  #wrapper p {
    margin: 0;
    padding: 0; }
  #wrapper h2 {
    margin: 0;
    padding: 0; }
  #wrapper ul {
    margin: 0;
    padding: 0; }
  #wrapper li {
    list-style: none;
    margin: 5px; }
    #wrapper li a {
      color: #4183c4;
      text-decoration: none; }
    #wrapper li a:hover {
      color: #2c5d8d; }
    #wrapper li a.title {
      font-weight: bold; }
  #wrapper .links {
    margin-top: 20px; }
    #wrapper .links a {
      font-size: 20pt;
      color: #b9b9b9;
      padding: 20px 20px 20px 0;
      transition: color .25s linear; }
    #wrapper .links a:hover {
      text-decoration: none; }
    #wrapper .links .tw:hover {
      color: #6dae6e; }
    #wrapper .links .gh:hover {
      color: #d4a057; }
    #wrapper .links .gm:hover {
      color: #fd2f31; }
    #wrapper .links .ré:hover {
      color: #d4a057; }
