body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif; }

#wrapper {
  margin-top: 10px; }
  #wrapper .descrip {
    font-style: italic; }
  #wrapper h1 {
    margin: 0;
    padding: 0; }
  #wrapper p {
    margin: 0;
    padding: 0; }
  #wrapper h2 {
    margin: 0;
    padding: 0; }
  #wrapper ul {
    margin: 0;
    padding: 0; }
  #wrapper li {
    list-style: none;
    margin: 5px; }
    #wrapper li a {
      color: #4183c4;
      text-decoration: none; }
    #wrapper li a:hover {
      color: #2c5d8d; }
    #wrapper li a.title {
      font-weight: bold; }
